body{
    overflow-y: hidden;
}

.mainboard{
    /* margin-top: 90px; */
    width: 90%;
    height: 100vh;
    margin: 70px 8%;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    /* background-color: black; */
    overflow-y: scroll;
    position: relative;
}

/* TOP PANE ################### */
.topPane{
    background-color: rgb(255, 255, 255);
    display: flex;
    position: fixed;
    z-index: 1;
    top: 60px;
    right: 45px;
    left: 100px;
    /* gap: 90; */
    justify-content: space-between;
    align-content: center;
    padding: 10px 10px;
}

.topPaneLeft{
    display: flex;
    align-items: center;
    gap: 20px;
}

.topPaneLeft, .topPaneRight > *{
    cursor: pointer;
}

.topPaneRight{
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;

}


/* NAVIGATION PANE ############################ */

.navPane{
    margin-top: 36px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    /* border-top: 1px solid gray; */
    /* border-bottom: 1px solid gray; */
    background-color: white;
}

.navPaneUl{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    text-decoration: none;

}


.navPaneUl *{
    color: black;
    text-decoration: none;
}

#ic{
    color: red;
}


.emailTabCol{
    
}


