
.emailBoard{
    /* margin-top: 90px; */
    width: 90%;
    height: 100vh;
    margin: 110px 8%;
    border-radius: 10px;
    /* background-color: rgb(245, 245, 245); */
    /* background-color: black; */
    overflow-y: scroll;
    position: relative;
}

/* TOP PANE ################### */
.topPaneEB{
    background-color: rgb(255, 255, 255);
    display: flex;
    position: fixed;
    z-index: 1;
    top: 70px;
    right: 45px;
    left: 100px;
    /* gap: 90; */
    justify-content: space-between;
    align-content: center;
    padding: 20px 10px;
}

.topPaneLeftEB{
    display: flex;
    align-items: center;
    gap: 20px;
}

.topPaneLeftEB, .topPaneRightEB > *{
    cursor: pointer;
}

.topPaneRightEB{
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;

}

/* EMAIL BOX */
.emailBoxEB{
    padding-top: 40px;
}

/* REPLY/FORWARD BUTTON  */
.replydBtnsdiv{
    text-align: left;
    margin-top: 40px;
}

#replyBtn{
    margin: 0 40px 0 95px;
    border-radius: 50px;
}

#fwdBtn{
    border-radius: 50px;
}

